<style>
    .main-nav {
        padding: 20px;
        background-color: beige;
        list-style: none;
    }

    .main-nav-item {
        display: inline-block;
        margin-right: 40px;
    }

    .main-nav-link {
        color: blue;
        text-decoration: none;
        font-family: Verdana;
        font-weight: 700;
    }
</style>


<ul class="main-nav">
    <li class="main-nav-item">
        <a href="/" class="main-nav-link">
            Home
        </a>
    </li>
    <li class="main-nav-item">
        <a href="/todo" class="main-nav-link">
            Todo
        </a>
    </li>
    <li class="main-nav-item">
        <a href="/contact?name=Daniel&email=dan@gmail.com" class="main-nav-link">
            Contact Us
        </a>
    </li>
    <li class="main-nav-item">
        <a href="/user/Michael" class="main-nav-link">
            User
        </a>
    </li>
    <li class="main-nav-item">
        <a href="/about" class="main-nav-link">
            About
        </a>
    </li>
</ul>