<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>

    <link rel="stylesheet" href="/assets/styles.css">
<body>
    {{> nav }}

    <h1>About us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur doloremque earum esse excepturi, incidunt maiores modi optio quia tempora vitae voluptatibus? Commodi, error explicabo iste molestias nemo officiis perferendis quia rem sit suscipit tempora veniam voluptates voluptatum! Eaque ipsa reprehenderit tenetur? Aliquid, dolor doloribus expedita explicabo fugiat itaque laboriosam nobis. Assumenda culpa facere, fuga praesentium quae reprehenderit repudiandae temporibus? Aperiam aspernatur atque commodi ducimus fugiat ipsum labore maxime qui tempore temporibus. Accusamus ad alias aut autem culpa dolorem, doloremque ex facere id incidunt ipsum minus nesciunt non provident quidem quod quos recusandae reprehenderit sequi sunt totam ullam voluptate voluptates!</p>
</body>
</html>