<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts</title>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/assets/styles.css">

</head>
<body>
    <ul class="contacts-list">
        {{#each contactsList }}
            <li class="contact" id="{{ this.id }}">
                <input class="contact-name" type="text" value="{{ this.name }}">
                <input class="contact-email" type="email" value="{{ this.email }}">
                <input class="contact-phone" type="text" value="{{ this.phone }}">
                <button type="button" class="update-contact-btn">Save</button>
            </li>
        {{/each}}
    </ul>

    <script>
        $('.update-contact-btn').on('click', event => {
            let contact = $(event.target).closest('.contact')[0];

            let contactObj = {
                id: contact.id,
                name: $(contact).find('.contact-name').val(),
                email: $(contact).find('.contact-email').val(),
                phone: $(contact).find('.contact-phone').val()
            };

            $.ajax({
                type: 'POST',
                url: '/contacts/' + contactObj.name.replace(/\s/g, ''),
                data: contactObj,
                success: () => {
                    location.reload();
                }
            });
        });
    </script>
</body>
</html>
