<ul class="contacts-list">
    {{#each contactsList }}
        <li class="contact">
            <div class="name">
                {{ this.name }}
            </div>
            <div class="email">
                {{ this.email }}
            </div>
            <div class="phone">
                {{ this.phone }}
            </div>
        </li>
    {{/each}}
</ul>