<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NodeJS - Express - Handlebars</title>

    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    {{> nav }}

    <h1 class="main-title">
        Welcome to the NodeJS - Express - Handlebars homepage
    </h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, iure, modi! Consequatur deleniti dolorem dolores laudantium maiores minima qui sit, totam veniam! Alias assumenda at atque, culpa, debitis dicta error expedita facilis fuga fugiat, hic ipsum iusto labore molestias nam numquam officiis possimus recusandae saepe sequi tempore vero vitae. Aperiam assumenda delectus deleniti dicta error impedit iure qui ratione unde voluptate. Amet animi corporis cum cumque dolorem earum enim harum laboriosam libero natus officia pariatur perferendis placeat, porro quos sequi sint sit temporibus! Asperiores explicabo modi perspiciatis quis repellendus vitae. Blanditiis dicta eius facilis fugiat inventore necessitatibus provident ratione vero.
    </p>
</body>
</html>
