<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    {{> nav }}

    <section class="todo-table" id="todoTable">
        <form action="/todo" method="post">
            <input type="text" name="item" placeholder="Add new item..." required>
            <button class="add-item-btn" type="submit">Add Item</button>
        </form>
        
        <ul class="todo-list">
            {{#each todoList }}
                <li class="todo-item">{{ this.item }}</li>
            {{/each}}
        </ul>
    </section>

    <script>
        $('.todo-item').on('click', function () {
            let item = $(this).text().replace(/ /g, "-");
            console.log('item', item);

            $.ajax({
                type: 'DELETE',
                url: '/todo/' + item,
                success: function (data) {
                    location.reload();
                }
            });
        });
    </script>
</body>
</html>