:root {
    --mainBgColor: lightslategray;
}

body {
    background-color: #003366;
}

h1, h2, div, p, label, ul, li {
    font-family: Verdana;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

.main-title {
    padding: 12px;
    background-color: var(--mainBgColor);
}


fieldset {
    display: block;
    border: none;
}

label {
    display: inline-block;
    width: 100px;
}

input {
    width: 300px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}

input[type="submit"] {
    width: 314px;
    margin-left: 118px;
}

.success-message-container {
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

.add-item-btn {
    height: 46px;
    line-height: 42px;
    cursor: pointer;
}

.todo-item {
    height: 30px;
    line-height: 30px;
    padding: 10px 20px;
}

.todo-item:hover {
    text-decoration: line-through;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.contact {
    display: flex;
}

.update-contact-btn {
    width: 300px;
    height: 46px;
    line-height: 46px;
}